@charset "UTF-8";
#section1 .pp-tableCell {
  display: block !important; }
  #section1 .pp-tableCell .container {
    height: 100%; }
    #section1 .pp-tableCell .container .carousel {
      height: 100%; }
      #section1 .pp-tableCell .container .carousel .carousel-inner {
        height: 100%; }
        #section1 .pp-tableCell .container .carousel .carousel-inner .item {
          height: 100%; }
          #section1 .pp-tableCell .container .carousel .carousel-inner .item img {
            height: 100%; }

@media screen and (max-width: 768px) {
  #section1 .festdate {
    font-size: 16px; } }

@media screen and (max-width: 768px) {
  #section1 .bbb {
    font-size: 16px;
    top: 60%; } }

@media screen and (max-width: 768px) {
  #section1 .ticket-btn-slide {
    top: 73%; } }

@media screen and (max-width: 768px) {
  #section1 .ticket-btn-slide a {
    padding: 15px 50px; } }

#section2 .pp-tableCell .intro {
  position: relative;
  height: 100vh;
  top: 0; }
  #section2 .pp-tableCell .intro .programholder {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 150px;
    position: absolute;
    top: 0;
    height: 100vh;
    left: 0; }
    @media screen and (max-width: 1024px) {
      #section2 .pp-tableCell .intro .programholder {
        padding-top: 50px; } }
    #section2 .pp-tableCell .intro .programholder .programselectors {
      padding: 30px; }
      @media screen and (max-width: 1024px) {
        #section2 .pp-tableCell .intro .programholder .programselectors {
          padding: 15px 50px; } }
      #section2 .pp-tableCell .intro .programholder .programselectors a {
        padding: 25px 80px;
        background-color: #9dbfc0;
        color: white;
        text-decoration: none;
        font-size: 35px;
        text-transform: uppercase; }
        @media screen and (max-width: 1024px) {
          #section2 .pp-tableCell .intro .programholder .programselectors a {
            padding: 7px 11px;
            background-color: #9dbfc0;
            color: white;
            text-decoration: none;
            font-size: 19px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 5px; } }
        #section2 .pp-tableCell .intro .programholder .programselectors a:hover {
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s;
          background-color: #fca1a0; }
        #section2 .pp-tableCell .intro .programholder .programselectors a:visited {
          background-color: #9dbfc0; }
    #section2 .pp-tableCell .intro .programholder .timelineholder {
      position: relative;
      height: 50vh;
      width: 80%;
      margin: 0 10%;
      margin-top: 70px; }
      @media screen and (max-width: 1024px) {
        #section2 .pp-tableCell .intro .programholder .timelineholder {
          margin-top: 15px; } }
      #section2 .pp-tableCell .intro .programholder .timelineholder #beats {
        display: block; }
      #section2 .pp-tableCell .intro .programholder .timelineholder .stage {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden; }
        #section2 .pp-tableCell .intro .programholder .timelineholder .stage .onepart {
          float: left;
          width: 50%;
          display: block; }
          #section2 .pp-tableCell .intro .programholder .timelineholder .stage .onepart h2 {
            font-size: 35px;
            padding-bottom: 37px; }
            @media screen and (max-width: 1024px) {
              #section2 .pp-tableCell .intro .programholder .timelineholder .stage .onepart h2 {
                font-size: 25px; } }
          #section2 .pp-tableCell .intro .programholder .timelineholder .stage .onepart p {
            line-height: 50px; }
            @media screen and (max-width: 1024px) {
              #section2 .pp-tableCell .intro .programholder .timelineholder .stage .onepart p {
                font-size: 15px; } }

@media screen and (max-width: 600px) {
  #section3 .pp-tableCell {
    display: block; } }

@media screen and (max-width: 1024px) {
  #section3 .pp-tableCell .intro .tickets-holder p {
    width: 100%;
    font-size: 15px; }
  #section3 .pp-tableCell .intro .tickets-holder .timer {
    width: 80%; }
    #section3 .pp-tableCell .intro .tickets-holder .timer .timer-part {
      padding: 20px 0; }
      #section3 .pp-tableCell .intro .tickets-holder .timer .timer-part span {
        font-size: 14px; } }

@media screen and (max-width: 600px) {
  #section3 .pp-tableCell .intro .tickets-holder {
    width: 90%;
    margin-left: 5%;
    margin-top: 30%; }
    #section3 .pp-tableCell .intro .tickets-holder p {
      width: 80%;
      margin: 0 10%; }
    #section3 .pp-tableCell .intro .tickets-holder .ticket-btn {
      margin-top: 40px; }
      #section3 .pp-tableCell .intro .tickets-holder .ticket-btn a {
        padding: 25px 50px;
        font-size: 25px; }
    #section3 .pp-tableCell .intro .tickets-holder .timer {
      width: 100%; }
      #section3 .pp-tableCell .intro .tickets-holder .timer .timer-part {
        padding: 0;
        font-size: 25px; } }

@media screen and (max-width: 800px) {
  #section4 {
    background-color: #c4e5ea !important; } }

@media screen and (max-width: 1024px) {
  #section4 .pp-tableCell .loc .locationholder {
    top: 15%; } }

@media screen and (max-width: 600px) {
  #section4 .pp-tableCell .loc .locationholder {
    width: 100%;
    padding: auto 2%;
    position: absolute;
    color: white;
    padding-top: 6%;
    left: 0;
    font-size: 12px;
    top: 0; }
    #section4 .pp-tableCell .loc .locationholder p {
      color: black !important; } }

@media screen and (max-width: 768px) {
  #section5 .pp-tableCell {
    display: block !important; }
    #section5 .pp-tableCell .intro .accred-holder .akreditacijetxt {
      background-color: rgba(0, 0, 0, 0.4);
      padding: 10px 5px;
      margin-top: 73%; }
      #section5 .pp-tableCell .intro .accred-holder .akreditacijetxt p {
        width: 76%;
        margin: 0 auto;
        font-size: 15px; } }
  @media screen and (max-width: 768px) and (max-width: 768px) {
    #section5 .pp-tableCell .intro .accred-holder .bgfest {
      margin-left: -30%;
      width: 60%; } }

@media screen and (max-width: 500px) {
  #section6 .pp-tableCell {
    display: block !important; } }

@media screen and (max-width: 768px) {
  #section6 .pp-tableCell .intro .contact-holder .bgfest {
    margin-left: -30%;
    width: 60%;
    top: 10%; } }

@media screen and (max-width: 500px) {
  #section6 .pp-tableCell .intro .emailmargin {
    margin: 10px auto !important;
    position: absolute;
    text-align: center;
    top: 30%;
    margin-right: -98px;
    font-size: 16px;
    width: 100%; } }

@media screen and (max-width: 500px) {
  #section6 .pp-tableCell .intro .nlholder {
    top: 33%;
    padding: 24px; }
    #section6 .pp-tableCell .intro .nlholder p {
      width: 90%;
      font-size: 15px; }
    #section6 .pp-tableCell .intro .nlholder input[type="email"] {
      padding: 10px 0;
      width: 100%;
      margin-top: 10px; }
    #section6 .pp-tableCell .intro .nlholder .socialicons {
      padding-top: 15px; } }

@media screen and (max-width: 500px) {
  #section6 .pp-tableCell .intro footer {
    top: 92%; } }

.tickets-holder p {
  color: white;
  font-family: “Myriad Pro”, Arial, Helvetica, sans-serif !important; }

.tickets-holder .timer {
  width: 60%;
  margin: 60px auto 80px;
  overflow: hidden; }
  .tickets-holder .timer .timer-part {
    font-size: 24px;
    width: 23%;
    margin-left: 1%;
    padding: 40px 0;
    text-align: center;
    background-color: #efefef;
    color: #fca1a0;
    float: left;
    font-size: 35px; }
    @media screen and (max-width: 1024px) {
      .tickets-holder .timer .timer-part {
        background-color: #fca1a0;
        color: white; } }
    .tickets-holder .timer .timer-part:hover {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      background-color: #2f3f25 !important;
      color: #fca1a0 !important; }
    .tickets-holder .timer .timer-part span {
      font-size: 20px; }
    .tickets-holder .timer .timer-part:hover {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      background-color: #fca1a0;
      color: #2f3f25; }

.tickets-holder .ticket-btn {
  margin-top: 150px; }
  .tickets-holder .ticket-btn a {
    padding: 25px 80px;
    background-color: #9dbfc0;
    color: white;
    text-decoration: none;
    font-size: 35px;
    text-transform: uppercase; }
    .tickets-holder .ticket-btn a:hover {
      background-color: #fca1a0;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }

.loc {
  position: relative;
  height: 100%; }
  .loc .locationholder {
    width: 100%;
    position: relative;
    color: black;
    left: 0;
    padding-top: 150px;
    height: 52vh;
    background: rgba(0, 0, 0, 0.2); }
    @media screen and (max-width: 768px) {
      .loc .locationholder {
        padding-top: 0; } }
    .loc .locationholder p {
      width: 60%; }
      @media screen and (max-width: 768px) {
        .loc .locationholder p {
          width: 90%; } }
  .loc #googleMap {
    width: 100%;
    height: 500px;
    position: absolute;
    right: 0;
    bottom: 0; }

.accred-holder .bgfest {
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: auto; }

.accred-holder .akreditacijetxt {
  margin-top: 160px; }
  .accred-holder .akreditacijetxt p a {
    text-decoration: none;
    color: #c4e5ea; }

.contact-holder .bgfest {
  position: absolute;
  top: 14%;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: auto; }

.contact-holder .emailmargin {
  margin: 80px auto !important; }

.contact-holder p a {
  text-decoration: none;
  color: #c4e5ea; }

.contact-holder .nlholder {
  position: absolute;
  width: 100%;
  top: 55%;
  margin: 30px 0;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 50px; }
  .contact-holder .nlholder input[type="email"] {
    padding: 10px 100px;
    margin-top: 30px;
    border: 0;
    color: #2f3f25; }
  .contact-holder .nlholder input[type="submit"] {
    margin-top: 17px;
    padding: 10px 40px;
    background: #fca1a0;
    border: 0; }
    .contact-holder .nlholder input[type="submit"]:hover {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      background: #c4e5ea;
      color: #2f3f25; }
  .contact-holder .nlholder .socialicons {
    padding-top: 30px; }

.contact-holder footer {
  position: absolute;
  width: 100%;
  top: 93%; }
  .contact-holder footer a {
    text-decoration: none;
    color: white; }
    @media screen and (max-width: 768px) {
      .contact-holder footer a {
        display: block; } }
