@charset "UTF-8";
@media screen and (max-width: 1700px) {
  #section1 .pp-tableCell {
    display: block !important; }
    #section1 .pp-tableCell .container {
      height: 100%; }
      #section1 .pp-tableCell .container .carousel {
        height: 100%; }
        #section1 .pp-tableCell .container .carousel .carousel-inner {
          height: 100%; }
          #section1 .pp-tableCell .container .carousel .carousel-inner .item {
            height: 100%; }
            #section1 .pp-tableCell .container .carousel .carousel-inner .item img {
              height: 100%; } }

@media screen and (max-width: 768px) {
  #section1 .festdate {
    font-size: 16px; } }

@media screen and (max-width: 768px) {
  #section1 .bbb {
    font-size: 16px;
    top: 60%; } }

@media screen and (max-width: 768px) {
  #section1 .ticket-btn-slide {
    top: 73%; } }

@media screen and (max-width: 768px) {
  #section1 .ticket-btn-slide a {
    padding: 15px 50px; } }

@media screen and (max-width: 600px) {
  #section3 .pp-tableCell {
    display: block; } }

@media screen and (max-width: 1024px) {
  #section3 .pp-tableCell .intro .tickets-holder p {
    width: 100%;
    font-size: 15px; }
  #section3 .pp-tableCell .intro .tickets-holder .timer {
    width: 80%; }
    #section3 .pp-tableCell .intro .tickets-holder .timer .timer-part {
      padding: 20px 0; }
      #section3 .pp-tableCell .intro .tickets-holder .timer .timer-part span {
        font-size: 14px; } }

@media screen and (max-width: 600px) {
  #section3 .pp-tableCell .intro .tickets-holder {
    width: 90%;
    margin-left: 5%;
    margin-top: 20%; }
    #section3 .pp-tableCell .intro .tickets-holder .ticket-btn {
      margin-top: 40px; }
      #section3 .pp-tableCell .intro .tickets-holder .ticket-btn a {
        padding: 25px 50px;
        font-size: 25px; }
    #section3 .pp-tableCell .intro .tickets-holder .timer {
      width: 100%; }
      #section3 .pp-tableCell .intro .tickets-holder .timer .timer-part {
        padding: 0;
        font-size: 25px; } }

@media screen and (max-width: 800px) {
  #section4 {
    background-color: #c4e5ea !important; } }

@media screen and (max-width: 1024px) {
  #section4 .pp-tableCell .loc .locationholder {
    top: 15%; } }

@media screen and (max-width: 600px) {
  #section4 .pp-tableCell .loc .locationholder {
    width: 90%;
    margin: auto 6%;
    position: absolute;
    color: white;
    top: 5%;
    left: 0;
    font-size: 12px; }
    #section4 .pp-tableCell .loc .locationholder p {
      color: black !important; } }

@media screen and (max-width: 768px) {
  #section5 .pp-tableCell {
    display: block !important; }
    #section5 .pp-tableCell .intro .accred-holder .akreditacijetxt {
      margin-top: 73%; }
      #section5 .pp-tableCell .intro .accred-holder .akreditacijetxt p {
        width: 76%;
        margin: 0 auto;
        font-size: 15px; } }
  @media screen and (max-width: 768px) and (max-width: 768px) {
    #section5 .pp-tableCell .intro .accred-holder .bgfest {
      margin-left: -30%;
      width: 60%; } }

@media screen and (max-width: 500px) {
  #section6 .pp-tableCell {
    display: block !important; } }

@media screen and (max-width: 768px) {
  #section6 .pp-tableCell .intro .contact-holder .bgfest {
    margin-left: -30%;
    width: 60%;
    top: 10%; } }

@media screen and (max-width: 500px) {
  #section6 .pp-tableCell .intro .emailmargin {
    margin: 10px auto !important;
    position: absolute;
    text-align: center;
    top: 30%;
    margin-right: -98px;
    font-size: 16px;
    width: 100%; } }

@media screen and (max-width: 500px) {
  #section6 .pp-tableCell .intro .nlholder {
    top: 33%;
    padding: 24px; }
    #section6 .pp-tableCell .intro .nlholder p {
      width: 90%;
      font-size: 15px; }
    #section6 .pp-tableCell .intro .nlholder input[type="email"] {
      padding: 10px 0;
      width: 100%;
      margin-top: 10px; }
    #section6 .pp-tableCell .intro .nlholder .socialicons {
      padding-top: 15px; } }

@media screen and (max-width: 500px) {
  #section6 .pp-tableCell .intro footer {
    top: 92%; } }

.tickets-holder p {
  color: white;
  font-family: “Myriad Pro”, Arial, Helvetica, sans-serif !important; }

.tickets-holder .timer {
  width: 60%;
  margin: 60px auto 80px;
  overflow: hidden; }
  .tickets-holder .timer .timer-part {
    font-size: 24px;
    width: 23%;
    margin-left: 1%;
    padding: 40px 0;
    text-align: center;
    background-color: #efefef;
    color: #fca1a0;
    float: left;
    font-size: 35px; }
    .tickets-holder .timer .timer-part span {
      font-size: 20px; }
    .tickets-holder .timer .timer-part:hover {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      background-color: #fca1a0;
      color: #2f3f25; }

.tickets-holder .ticket-btn {
  margin-top: 150px; }
  .tickets-holder .ticket-btn a {
    padding: 25px 80px;
    background-color: #9dbfc0;
    color: white;
    text-decoration: none;
    font-size: 35px;
    text-transform: uppercase; }
    .tickets-holder .ticket-btn a:hover {
      background-color: #fca1a0;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }

.loc {
  position: relative;
  height: 100%; }
  .loc .locationholder {
    width: 70%;
    margin: auto 15%;
    position: absolute;
    color: white;
    top: 150px;
    left: 0; }
    .loc .locationholder p {
      width: 100%;
      color: white !important; }
  .loc #googleMap {
    width: 100%;
    height: 500px;
    position: absolute;
    right: 0;
    bottom: 0; }

.accred-holder .bgfest {
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: auto; }

.accred-holder .akreditacijetxt {
  margin-top: 160px; }
  .accred-holder .akreditacijetxt p a {
    text-decoration: none;
    color: #c4e5ea; }

.contact-holder .bgfest {
  position: absolute;
  top: 14%;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: auto; }

.contact-holder .emailmargin {
  margin: 80px auto !important; }

.contact-holder p a {
  text-decoration: none;
  color: #c4e5ea; }

.contact-holder .nlholder {
  position: absolute;
  width: 100%;
  top: 55%;
  margin: 30px 0;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 50px; }
  .contact-holder .nlholder input[type="email"] {
    padding: 10px 100px;
    margin-top: 30px;
    border: 0;
    color: #2f3f25; }
  .contact-holder .nlholder input[type="submit"] {
    margin-top: 17px;
    padding: 10px 40px;
    background: #fca1a0;
    border: 0; }
    .contact-holder .nlholder input[type="submit"]:hover {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      background: #c4e5ea;
      color: #2f3f25; }
  .contact-holder .nlholder .socialicons {
    padding-top: 30px; }

.contact-holder footer {
  position: absolute;
  width: 100%;
  top: 96%; }
  .contact-holder footer a {
    text-decoration: none;
    color: white; }
