@charset "UTF-8";
.tickets-holder p {
  color: white;
  font-family: “Myriad Pro”, Arial, Helvetica, sans-serif !important; }

.tickets-holder .timer {
  width: 60%;
  margin: 60px auto 80px;
  overflow: hidden; }
  .tickets-holder .timer .timer-part {
    font-size: 24px;
    width: 23%;
    margin-left: 1%;
    padding: 40px 0;
    text-align: center;
    background-color: #efefef;
    color: #fca1a0;
    float: left;
    font-size: 35px; }
    .tickets-holder .timer .timer-part span {
      font-size: 20px; }
    .tickets-holder .timer .timer-part:hover {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      background-color: #fca1a0;
      color: #2f3f25; }

.tickets-holder .ticket-btn {
  margin-top: 150px; }
  .tickets-holder .ticket-btn a {
    padding: 25px 80px;
    background-color: #9dbfc0;
    color: white;
    text-decoration: none;
    font-size: 35px;
    text-transform: uppercase; }
    .tickets-holder .ticket-btn a:hover {
      background-color: #fca1a0;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }

.loc {
  position: relative;
  height: 100%; }
  .loc .locationholder {
    width: 70%;
    margin: auto 15%;
    position: absolute;
    color: white;
    top: 150px;
    left: 0; }
    .loc .locationholder p {
      width: 100%;
      color: white !important; }
  .loc #googleMap {
    width: 100%;
    height: 500px;
    position: absolute;
    right: 0;
    bottom: 0; }

.accred-holder .bgfest {
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: auto; }

.accred-holder .akreditacijetxt {
  margin-top: 160px; }
  .accred-holder .akreditacijetxt p a {
    text-decoration: none;
    color: #c4e5ea; }

.contact-holder .bgfest {
  position: absolute;
  top: 14%;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: auto; }

.contact-holder .emailmargin {
  margin: 80px auto !important; }

.contact-holder p a {
  text-decoration: none;
  color: #c4e5ea; }

.contact-holder .nlholder {
  position: absolute;
  width: 100%;
  top: 55%;
  margin: 30px 0;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 50px; }
  .contact-holder .nlholder input[type="email"] {
    padding: 10px 100px;
    margin-top: 30px;
    border: 0; }
  .contact-holder .nlholder input[type="submit"] {
    margin-top: 17px;
    padding: 10px 40px;
    background: #fca1a0;
    border: 0; }
    .contact-holder .nlholder input[type="submit"]:hover {
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      background: #c4e5ea;
      color: #2f3f25; }
  .contact-holder .nlholder .socialicons {
    padding-top: 30px; }

.contact-holder footer {
  position: absolute;
  width: 100%;
  top: 96%; }
