@font-face {

font-family: ('MyriadPro-Regular'),

src: url('../fonts/MyriadPro-Regular.otf ') format("truetype");

}
body{ font-family: “Myriad Pro”, Arial, Helvetica, sans-serif !important; }
.pp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    padding: 0 !important;
}
.container {
    width: 100%;
    padding: 0 !important;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
.carousel-indicators {
    bottom: 10%;
}
#menu {
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    height: 80px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.5);
}
.overlay{
  display:none;
}
#menu{
  display:block;
}
.logo:hover{
  background:transparent !important;
}
.logo {
    float: left;
    margin-left: 20px;
    padding: 0 !important;
}
.logo img{
  width:150px;
  height: 72px;
}
div#pp-nav {
    display: none;
}
.slideonefest{
  height: 100%;
}
.bgfestslide{
  position: absolute;
  top:15%;
  left:50%;
  margin-left: -250px;
  width:600px;
  height: auto;
}
@media only screen and (max-width: 600px) {
  div#pp-nav {
    display: block;
}
  .overlay{
    display:block;
  }
  #menu{
    display:none;
  }
  .carousel-inner {

    height: 100vh;
  }
  .item img{
    height: 100vh !important;
  }
  #section2{
		background-color:#fca1a0 !important;

	}
	#section3{
    background-image: none !important;
		background-color: #2f3f25 !important;

	}
	#section4{
		background-color:#c4e5ea !important ;

	}
}
