.tickets-holder{
  p{
    color:white;
    font-family: “Myriad Pro”, Arial, Helvetica, sans-serif !important;
  }
  .timer {
    width: 60%;
    margin: 60px auto 80px;
    overflow: hidden;
    .timer-part{
      font-size: 24px;
      width:23%;
      margin-left: 1%;
      padding:40px 0;
      text-align: center;
      background-color: #efefef;
      color:#fca1a0  ;
      float:left;
      font-size: 35px;
      span{
        font-size: 20px;
      }
      &:hover{
        transition: 0.5s;
        background-color: #fca1a0;
        color:#2f3f25 ;
      }
    }
  }
  .ticket-btn{
    margin-top: 150px;
    a{
      padding:25px 80px;
      background-color: #9dbfc0 ;
      color:white;
      text-decoration: none;
      font-size: 35px;
      text-transform: uppercase;
      &:hover{
        background-color: #fca1a0;
        transition: 0.5s;
      }
    }
  }
}
.loc{
  position: relative;
  height:100%;

  .locationholder {
    width: 70%;
    margin:auto 15%;
    position: absolute;
    color: white;
    top: 150px;
    left: 0;
      p{
        width: 100%;
        color:white !important;
      }
  }
    #googleMap {
      width: 100%;
      height: 500px;
      position: absolute;
      right: 0;
      bottom: 0;
  }
}
.accred-holder{
  .bgfest{
      position: absolute;
      top:15%;
      left:50%;
      margin-left: -250px;
      width:500px;
      height: auto;
  }
  .akreditacijetxt{
    margin-top: 160px;
    p{
      a{
        text-decoration: none;
        color:#c4e5ea ;
      }
    }
  }
}
.contact-holder{
  .bgfest{
      position: absolute;
      top:14%;
      left:50%;
      margin-left: -250px;
      width:500px;
      height: auto;
  }
  .emailmargin{
    margin: 80px auto !important;
  }
  p{

    a{
      text-decoration: none;
      color:#c4e5ea ;
    }
  }
  .nlholder {
    position: absolute;
    width: 100%;
    top: 55%;
    margin: 30px 0;
    background-color: rgba(255,255,255,0.1);
    padding: 50px;

    input[type="email"] {
        padding: 10px 100px;
        margin-top: 30px;
        border:0;
    }
    input[type="submit"] {
    margin-top: 17px;
    padding: 10px 40px;
    background: #fca1a0;
    border:0;
    &:hover{
      transition: 0.5s;
      background: #c4e5ea;
      color: #2f3f25 ;
    }
}
    .socialicons {
      padding-top: 30px;
    }
  }
  footer {
      position: absolute;
      width: 100%;
      top: 96%;
  }
}
