@import "mixins.scss";

#section1{

    .pp-tableCell{
      display:block !important;
      .container{
        height:100%;
        .carousel{
          height: 100%;
          .carousel-inner{
            height: 100%;
            .item{
              height: 100%;
              img{
                height: 100%;
              }

            }
          }
        }

    }
  }

    .festdate {
        @include mQ(768px){
          font-size: 16px;
        }
    }
  .bbb{
    span{
      font-family: “Typold Italic”, sans-serif !important;
      font-weight: 100;
    }
    @include mQ(768px){
      font-size: 16px;
      top:60%;
    }
  }
  .ticket-btn-slide{
    @include mQ(768px){
        top:73%;
    }
    a{
      @include mQ(768px){
      padding: 13px 30px;
      font-size: 18px;
        img{
          margin-bottom: 0;
          width:35px;
          margin-right: 10px;
        }
    }
  }
  }
}
#section2{
  .pp-tableCell{
    .intro{
      position: relative;
      height: 100vh;
      top:0;

      .programholder{

        width:100%;
      /*  background: rgba(0, 0, 0, 0.8);*/
        padding-top: 150px;
        position: absolute;
        top: 0;
        height: 100vh;
        left: 0;
        @include mQ(1024px){
          padding-top: 50px;
        }
        .programselectors{
          padding: 30px;
          @include mQ(1024px){
                padding: 15px 50px;
          }
          a{
            padding: 25px 80px;
            background-color: #9dbfc0;
            color: white;
            text-decoration: none;
            font-size: 35px;
            text-transform: uppercase;
            @include mQ(1024px){
              padding: 7px 11px;
              background-color: #9dbfc0;
              color: white;
              text-decoration: none;
              font-size: 19px;
              text-transform: uppercase;
              display: block;
              margin-bottom: 5px;
            }
            &:hover{
              transition: 0.5s;
              background-color: #fca1a0;

            }
            &:visited{
                background-color: #9dbfc0;
            }
          }
        }
        .timelineholder{
          position: relative;
          height: 50vh;
          width: 80%;
            margin: 0 10%;
            margin-top: 70px;
            @include mQ(1024px){
              margin-top: 15px;
            }
          #beats{
            display:block;
          }
          .stage{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            .onepart{
              float:left;
              width:50%;
              display: block;
              h2{
                font-size: 35px;
                padding-bottom: 37px;
                @include mQ(1024px){
                  font-size: 25px;
                }
              }
              p{
                  line-height: 50px;
                  @include mQ(1024px){
                    font-size: 15px;
                  }
              }
            }
          }
        }
      }
    }
  }

}
#section3{
  .pp-tableCell{
      @include mQ(600px){
        display:block;
      }
    .intro{
      .tickets-holder{
        @include mQ(1024px){
          p{
            width:100%;
            font-size: 15px;
          }
        .timer{
            width:80%;

            .timer-part{
                padding:20px 0;
                span{
                  font-size: 14px;
                }
              }

          }
        }
          @include mQ(600px){
              width:90%;
              margin-left: 5%;
                  margin-top: 30%;
                  p{
                    width:80%;
                    margin:0 10%;
                  }
              .ticket-btn{
                margin-top: 40px;
                a{
                  padding: 13px 38px;
                  font-size: 18px;
                    img{
                      margin-bottom: 0;
                      width:35px;
                      margin-right: 10px;
                    }
                }
              }
              .timer{
                width:100%;
                .timer-part{
                  padding:0;
                  font-size: 25px;
                }
              }
          }
        }
      }
    }
  }

#section4{
  @include mQ(800px){
    background-color:#c4e5ea !important ;
  }
  .pp-tableCell{
    .loc{
      .locationholder{
        @include mQ(1024px){
          top: 15%;
        }
        @include mQ(600px){
          width: 100%;
  padding: auto 2%;
  position: absolute;
  color: white;
  padding-top: 6%;
  left: 0;
  font-size: 12px;
  top: 0;

        p{
            color: black !important;
        }
      }
    }
  }
}
}
#section5{
  .pp-tableCell{
    @include mQ(768px){
    display:block !important;
    .intro{
      .accred-holder{
        .akreditacijetxt{
          background-color: rgba(0, 0, 0, 0.4);
              padding: 10px 5px;
          margin-top: 73%;
          p{
            width: 76%;
            margin: 0 auto;
            font-size: 15px;
          }
        }
        .bgfest{
          @include mQ(768px){
            margin-left: -30%;
            width: 60%;
          }

        }
      }
    }
  }
}
}
#section6{
  .pp-tableCell{
    @include mQ(500px){
      display:block !important;
    }
    .intro{
      .contact-holder{
        .bgfest{
          @include mQ(768px){
            margin-left: -30%;
            width: 60%;
            top:10%;
          }

        }
      }
      .emailmargin{
          @include mQ(500px){
            margin: 10px auto !important;
            position: absolute;
            text-align: center;
            top: 30%;
            margin-right: -98px;
            font-size: 16px;
            width: 100%;
          }
        }
      .nlholder{
        @include mQ(500px){
        top:33%;
        padding: 24px;
        p{
          width:90%;
          font-size: 15px;
        }
        input[type="email"] {
          padding: 10px 0;
          width: 100%;
          margin-top: 10px;
        }
        .socialicons{
          padding-top: 15px;
        }
        }
      }
      footer{
        @include mQ(500px){
          top:92%;
        }
      }
    }
  }
}
